<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>stern Flugsuche</title>

  <script type="text/javascript" src="vendor/jquery/1.7.1/jquery-1.7.1.min.js"></script>

  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>  

  <script type="text/javascript" src="vendor/linkify/1.0/jquery.linkify-1.0-min.js"></script>  
  
  <link rel="stylesheet" href="vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css">
  <script type="text/javascript" src="vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js"></script>

  <script type="text/javascript" src="jquery.facetview.js"></script>
  <script type="text/javascript" src="vendor/underscore/underscore.min.js"></script>

  <link rel="stylesheet" href="css/facetview.css">

  <link rel="stylesheet" href="css/style.css">

  <script type="text/javascript">
jQuery(document).ready(function($) {
	
  var template={};
  $("script").each(function(i,e) {
	var $e=$(e);
	if ($e.attr("type")=="text/template") {
		try {
			template[$e.attr("id")]=_.template($e.html());
			// console.log("Bingo "+$e.html());
		} catch(err) {
				console.error("Template error '"+err+"'"+$e.attr("id")+ " "+$e.html())
		}
	}	
  });
  window.template=template; 
	
	
	
  $('.facet-view-simple').facetview({
    search_url: 'http://localhost:9200/flights/_search?',
    search_index: 'elasticsearch',
    facets: [ 
        {'field': 'start.town', 'display': 'start'}, 
        {'field': 'end.town', 'display': 'landung'}, 
        {'field': 'reg', 'display': 'kennung'}, 
        {'field': 'datum', 'display': 'tag'}, 

    ],
    result_display : [
		[
		{"field" : "datum", "pre" : "<u>","post" : "</u> "},
		{"field" : "reg", "pre" : "<b>","post" : "</b> "},
		{"field" : "start.town", "post" : " - "},
		{"field" : "end.town" },
        {"field" : "duration", "post" : "h.", "pre" : " in "},

		],
    
	],
	result_template: template.resultTemplate,
	search_sortby: [
		{"field" : "start.time", "display" : "start" },
		{"field" : "duration", "display" : "länge" },
		{"field" : "duration", "display" : "startflughafen" },
	
	],
    paging: {
      from: 0,
      size: 10
    },
    enable_rangeselect: true,
  });
  // set up form
  $('.demo-form').submit(function(e) {
    e.preventDefault();
    var $form = $(e.target);
    var _data = {};
    $.each($form.serializeArray(), function(idx, item) {
      _data[item.name] = item.value;
    });
    $('.facet-view-here').facetview(_data);
  });
});
  </script>
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	 <a class="nav-logo pull-left" href="http://stern.de" title="stern.de">
        <img src="img/sternlogo-41x55.png" style="height: 30px; margin-right: 10px" alt="stern.de" />
      </a>

      <a class="brand" href="#">stern Flugsuche</a>
      <ul class="nav">
        <li><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container"> 
  <div class="content">
    <div class="page-header">
      <h1>
		Flüge
      </h1>
    </div>
    <div class="facet-view-simple"></div>


  </div>

  <footer>
   <p>Made with <a href="https://github.com/okfn/facetview">facetview</a> and <a href="http://www.elasticsearch.org/‎">elasticsearch</a>.</p>
  </footer>
</div>
<script id="resultTemplate" type="text/template">
<tr><td>
	<%= record.datum %>: <%= record.start.town %> - <%= record.end.down %>
</td></tr>

</div>
</script>   

</body>
</html>
