<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>OpenDataCity Flugsuche</title>

  <script type="text/javascript" src="vendor/jquery/1.7.1/jquery-1.7.1.min.js"></script>

  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>  

  <script type="text/javascript" src="vendor/linkify/1.0/jquery.linkify-1.0-min.js"></script>  
  
  <link rel="stylesheet" href="vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css">
  <script type="text/javascript" src="vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js"></script>

  <script type="text/javascript" src="jquery.facetview.js"></script>
  <script type="text/javascript" src="vendor/underscore/underscore.min.js"></script>
  <script type="text/javascript" src="vendor/mapbox/v1.3.1/mapbox.js"></script>
  <script type="text/javascript" src="vendor/sparkline/jquery.sparkline.min.js"></script>
  <link href="vendor/mapbox/v1.3.1/mapbox.css" rel="stylesheet" />
 
  <link rel="stylesheet" href="css/facetview.css">

  <link rel="stylesheet" href="css/style.css">
  <style>
	 span.airport { display: inline-block; height: 16px; ; }
	 span.start   { background-image: url(img/start-16.png); background-repeat: no-repeat; padding-left: 18px}
	 span.landing { background-image: url(img/landing-16.png); background-repeat: no-repeat; 
	                background-position: right; padding-right: 18px }

     span.far { background-image: none; }
     
     .popover-inner { width: 500px; } 
     
  </style>

  <script type="text/javascript">
jQuery(document).ready(function($) {
	
  var template={};
  $("script").each(function(i,e) {
	var $e=$(e);
	if ($e.attr("type")=="text/template") {
		try {
			template[$e.attr("id")]=_.template($e.html());
			// console.log("Bingo "+$e.html());
		} catch(err) {
				console.error("Template error '"+err+"'"+$e.attr("id")+ " "+$e.html())
		}
	}	
  });
  window.template=template; 
	
  //$("#fmap").hide();	
  var map = L.mapbox.map($('#fmap')[0], 'mvtango.map-94e5xnqh').setView([50, 15], 7);

  function momarker() {
	if ((typeof window._marker) == "undefined") {
		window._marker=L.marker(map.getCenter()).addTo(map);
	}
	return window._marker;
  }

  function profile_route(id) {
	var cl=routes[id];
	if ((typeof cl)=="undefined") {
	  $("#fprofile").sparkline();
	  momarker().setOpacity(0);
	  
	} else {
	 var heights=[]; 
	 $(cl.profile).each(function(i,e) {
		heights.push(e.a);
	 });
	 $("#fprofile").sparkline(heights,{ width: "100%", height: "100px", tooltipFormatter: function(s,o,f) {
	   return JSON.stringify(cl.profile[f.x])+JSON.stringify(cl.route.coordinates[f.x]);
 	  } 
	 }).bind('sparklineRegionChange',function(ev) {
		var sparkline = ev.sparklines[0];
        	var region = sparkline.getCurrentRegionFields();
		var coordinates=cl.route.coordinates[region.x];
		momarker().setLatLng(new L.LatLng(coordinates[1],coordinates[0]));
	 });
	 momarker().setOpacity(1);
        }
  }

  function draw_route(t) {
	var markerLayer;
	var $t=$(t);
	var e=$t.attr("id");
	cl=routes[e];
	if ($t.is(":checked")) {  
	   if (typeof cl.layer== "undefined") {
		   cl.layer=L.mapbox.markerLayer(routes[e].route);
       	   }
	   cl.mapped=true;
	   disable_map_buttons(false);
	   map.addLayer(cl.layer);
  	   window.last_route=cl;
	   profile_route(e);
	   // map.fitBounds(cl.layer);
	} else {
	   cl.mapped=false;
	   map.removeLayer(cl.layer);
	   disable_map_buttons();
	   if (cl==window.last_route) {
           	profile_route();
	   } 
	}
	display_all();
  }
  
  function check_if_mapped() {
	  $('input[type="checkbox"]').each(function(i,e) {
		 var $e=$(e);
		 var r=routes[$e.attr('id')];
		 if (r.mapped) {
			 $e.prop("checked",true);
		 }
	  });
  }
  
  function display_all() {
	var a=[];
	for (k in routes) {
		if (routes[k].mapped) {
			a.push(routes[k].layer);
		}
	}
	var group = new L.featureGroup(a);
	map.fitBounds(group.getBounds());  
  }

  function display_last() {
	  if (typeof window.last_route != "undefined") {
		  map.fitBounds(window.last_route.layer);
	  }
  }
  
  
  function erase_all() {
	for (k in routes) {
		cl=routes[k]
		if (cl.mapped) {
			cl.mapped=false;
			map.removeLayer(cl.layer);
		}
    }
    $('input[type="checkbox"]:checked').prop('checked',false);
    disable_map_buttons(true);
    profile_route();
   }
    
  window.erase_all=erase_all;
  window.display_last=display_last;
  window.display_all=display_all;
  window.draw_route=draw_route;
  window.map=map;
  
  function disable_map_buttons(disabled) {
	  if (typeof disabled == "undefined") {
	    var disabled=true;
	    for (k in routes) {
		  if (routes[k].mapped) {
			  disabled=false;
			  break;
		  }
	    }
	  }
   $("#map-control button").prop("disabled",disabled);
  }
  
  
  function search_server() {
	  if (document.location.href.indexOf("newsradar.org")>0) {
		  return "http://search.newsradar.org/flights/_search?";
	  } else {
		  return 'http://apps.opendatacity.de/elasticsearch/flights/_search?';
	  }
  }
	
	
  $('.facet-view-simple').facetview({
    search_url: search_server(),
    search_index: 'elasticsearch',
    facets: [ 
        {'field': 'start.town', 'display': 'first (town)'}, 
        {'field': 'start.country', 'display': 'first (country)'}, 
        {'field': 'end.town', 'display': 'last (town)'}, 
        {'field': 'end.country', 'display': 'last (country)'}, 
        {'field': 'reg', 'display': 'registration'}, 
        {'field': 'datum', 'display': 'day'}, 
        {'field': 'duration', 'display': 'duration'}, 
        {'field': 'type', 'display': 'type'}, 
        {'field': 'radar', 'display': 'radar'}, 
        {'field': 'flight', 'display': 'flight'}, 

    ],
    result_display : [
		[
		{"field" : "datum", "pre" : "<u>","post" : "</u> "},
		{"field" : "reg", "pre" : "<b>","post" : "</b> "},
		{"field" : "start.town", "post" : " - "},
		{"field" : "end.town" },
        	{"field" : "duration", "post" : "h.", "pre" : " in "},

		],
    
	],
	result_template: template.resultTemplate,
	search_sortby: [
		{"field" : "start.time", "display" : "day" },
		{"field" : "duration", "display" : "duration" },
		{"field" : "start.town", "display" : "first" },
		{"field" : "end.town", "display" : "last" },
	
	],
    paging: {
      from: 0,
      size: 20
    },
    enable_rangeselect: true,
    post_search_callback: function() { 	
						$("#facetview_results [title]" ).tooltip();
						check_if_mapped();
						},
	pre_search_callback: function() { 	
						$(".tooltip").hide();
						var $n=$("#facetview_results");
						var p=$n.position();
						p["width"]=$n.width()
						p["height"]=$n.height();
					    $(".notify_loading").css(p);
						},

	pager_slider: false,
	pager_on_top: true,
  });
  window.routes={};
  // set up form
  $('.demo-form').submit(function(e) {
    e.preventDefault();
    var $form = $(e.target);
    var _data = {};
    $.each($form.serializeArray(), function(idx, item) {
      _data[item.name] = item.value;
    });
    $('.facet-view-here').facetview(_data);
  });
  
  $( "[title]" ).tooltip({ show: { delay: 4, duration: 100, }});
  disable_map_buttons();
  
  // $( "button" ).button();
});
  </script>
</head>

<body>
<div style="position: absolute; left:200px; top: 200px; text-align: center; background: #808080; opacity: 0.5; " class="notify_loading">
  <img style="display: inline-block; padding: 30px;" src="img/loader.gif">
</div>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/flightmap/">
        <img src="img/odc-logo-small1.png" style="display: inline-block; height: 18px; float: left; vertical-align: baseline;"/>&nbsp;
	Flugsuche
      </a>
      <ul class="nav">
	<!--
        <li><a href='./?source={"query":{"bool":{"must":[{"term":{"reg":"16+01"}}]}},"size":20,"sort":[{"start.time":{"order":"desc"}}]}'>Konrad Adenauer</a></li>
        <li><a href='./?source={"query":{"bool":{"must":[{"term":{"reg":"D-AZEM"}}]}},"size":20,"sort":[{"start.time":{"order":"desc"}}]}'>BND-Jet</a></li>
        <li><a href='./?source={"query":{"bool":{"must":[{"term":{"reg":"D-BADA"}}]}},"size":20,"sort":[{"start.time":{"order":"desc"}}]}'>ADAC (D-BADA)</a></li>
	-->
      </ul>
    </div>
  </div>
</div>
<div class="container"> 
  <div class="content">
<!--     <div class="page-header" style="position: relative">
      <h1>
		Flights
      </h1>
    </div> -->
    <div class="row">
		<div class="span12">
			<div id="fmap" style="width:100%; height: 300px;"></div>
		        <div id="fprofile" style="margin-top: 10px; margin-bottom: 1px; width:100%; height: 100px"></div>
			<br/>
			<div style="float:right;" id="map-control" class="btn-group">
				<button class="btn btn-small" onClick="display_all()"><i class="icon icon-resize-full"></i> Alle anzeigen</button>
			    <button class="btn btn-small" onClick="display_last()"><i class="icon icon-resize-small"></i> Letzte anzeigen</button>
			    <button class="btn btn-small" onClick="erase_all()"><i class="icon icon-remove"></i>Alle löschen</button>
            		</div>
		</div>
	<div class="row">
	 <div class="span12"><br/></div>
	</div>
  </div>
  <div class="facet-view-simple"></div>
  </div>

  <footer>
   <p>Made with <a href="https://github.com/okfn/facetview">facetview</a> and <a href="http://www.elasticsearch.org/‎">elasticsearch</a>.</p>
  </footer>
</div>
<script id="resultTemplate" type="text/template">
<tr><td>
	<%= record.datum %>
	</td>
	<td>
	        <a id-data="./?source={%22query%22:{%22bool%22:{%22must%22:[{%22term%22:{%22reg%22:%22<%= record.reg %>%22}}]}},%22size%22:20,%22sort%22:[{%22start.time%22:{%22order%22:%22desc%22}}]} "><b style="display:inline-block; width: 50%" title="<%= record.reg ? '' : 'No registration. ' %> <%= record.type ? 'Type '+record.type+' ' : '' %> <%= record.flight ? 'Flight '+record.flight+' ' : '' %>  <%= record.radar ? 'Radar '+record.radar+' ' : '' %> ID <%= record.hex %>"><%= record.reg ? record.reg : '[' +record.hex+']' %> </b></a><%= record.reg ? '<a class="btn btn-mini" target="_blank" href="http://www.planespotters.net/search.php?q='+record.reg.replace("+","%2B")+'"><i class="icon icon-plane"></i></a>' : '' %>
    </td>
    <td>
	<span title="<%= record.start.speed %> mph / <%= Math.floor(record.start.dist+0.5) %> km / <%= record.start.alt %> ft" class="airport start <%= ((record.duration<0.3) || (record.start.alt>3000) || (record.start.dist > 9)) ? "far" : "near" %>"> 
	<%= record.start.town %><%= record.start.country ? ', ' + record.start.country : '' %>
	</span> - <span  title="<%= record.end.speed %> mph / <%= Math.floor(record.end.dist+0.5) %> km / <%= record.end.alt %> ft" class="airport landing <%= ((record.duration<0.3) || (record.end.alt>3000) || (record.end.dist > 9)) ? "far" : "near" %>"> 
	<%= record.end.town %><%= record.end.country ? ', ' + record.end.country : '' %>
	</span>
	</td>
	<td> 
	<%= record.duration %> h.
	</td>
	<td><input type="checkbox" id="<%= record.id %>" onClick="draw_route(this)" /><i class="icon icon-map-marker"></i>
	</td>
</tr>
<% if (typeof routes[record.id] == "undefined") { routes[record.id]={ 'route' : record.route, 'mapped' : false, 'profile' : record.profile } }; %>
</div>
</script>   

</body>
</html>
